body {
  background-color: #eee;
}

/* go top button section */
#topButton {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 100%;
  padding: 20px;
}
#topButton i {
  font-size: 24px;
}
